__pycache__/
forbiditerative/found_plans/
diversescore/builds/
forbiditerative/builds/
fd-red-black-postipc2018/builds/
goal-plan-recognition-dataset/
gene_data/
planner/
forbiditerative/domain.pddl
forbiditerative/template.pddl
miner.jar
*.pyc
